.admin{
    height: 100%;
    .sider {
        color: white;
    }
    .content{
        margin: 30px 20px 10px 20px;
        background-color: #fff;
    }
    .footer{
        text-align: center;
    }
}